# Example continuous deployment workflow using Fly.io
# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Deploy
on:
  push:
    branches:
      - main
    paths:
      - 'emails/**'
      - 'package.json'
      - 'yarn.lock'

jobs:
  deploy:
    name: Deploy app
    if: "!contains(github.event.head_commit.message, 'chore(release)')"
    runs-on: ubuntu-latest
    concurrency:
      group: deploy-group
      cancel-in-progress: true
    steps:
      - run: echo "Deployment placeholder - configure your deployment service"